*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

.spinnerMain {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  display: grid;
  place-items: center;
  background-color: #85d37e86;
  z-index: 10000;
}

.container {
  max-width: 1240px;
}

.line {
  width: 100%;
  height: 1px;
  background-color: #404146;
  margin: auto;
}

.btn-main {
  border-radius: 13px;
  background-color: #07A081;
  color: white;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
}

.btn-search {
  top: 0;
  right: 13px;
  width: 10px;
  height: 10px;
  padding: 0;
}

.navbar {
  padding-inline: 0;
}

.navbar-brand {
  font-family: "Cabin", sans-serif;
}

.navbar-light .navbar-nav .nav-link.active {
  color: #07A081;
}

.navbar-light .navbar-nav .nav-link {
  color: #404146;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-inline: 0;
}

.navbar-nav {
  align-items: center;
  gap: 0 34px;
}

header .form-inline .form-control {
  border-radius: 27px;
  height: 30px;
  font-size: 10px;
  line-height: 12px;
  width: 100%;
}

header form {
  flex-basis: 261px;
}

.header__icon {
  gap: 37px;
  margin-inline-start: 24px;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
}

.search-cart {
  gap: 17px;
}

.search-cart>* {
  cursor: pointer;
}

.cart-item-count {
  width: 14px;
  height: 14px;
  background-color: #FF3C3C;
  border-radius: 50%;
  font-size: 10px;
  line-height: 14px;
  color: white;
  text-align: center;
  bottom: 18px;
  left: 12px;
}

.hero {
  background-image: url(../img/hero-bg3.svg), url(../img/hero-bg4.svg);
  background-repeat: no-repeat;
  background-position: left bottom, right bottom 104px;
}

.hero__right {
  display: flex;
  align-items: center;
}

.hero__right img {
  width: 100%;
  display: block;
}

.hero__left {
  gap: 29px;
  padding-left: 8px;
  background-image: url(../img/hero-bg5.svg),
    url(../img/hero-bg5.svg),
    url(../img/hero-bg5.svg),
    url(../img/hero-bg2.svg),
    url(../img/hero-bg1.svg);
  background-repeat: no-repeat;
  background-position: right 24px top 55px,
    right 120px top 33px,
    right 83px top 113px,
    right 26px bottom 125px,
    right 50px bottom 117px;
  background-size: auto, auto, auto, 34%, 31%;
  min-height: 525px;
}

.hero__left h1 {
  font-family: Poppins;
  font-size: 48px;
  font-weight: 500;
  line-height: 61px;
  letter-spacing: 0.01em;
  margin-bottom: 0;
}

.hero__left p {
  font-family: Poppins;
  font-size: 24px;
  line-height: 34px;
  margin-bottom: 0;
}

.hero__left .btn-main {
  width: 198px;
  height: 47px;
}

.social {
  width: 198px;
  display: flex;
  justify-content: space-evenly;
}

.category h2 {
  margin-block: 56px 23px;
  font-family: Poppins;
  font-size: 32px;
  font-weight: 400;
  line-height: 34px;
}

.category p {
  margin-bottom: 59px;
}

.category__main {
  row-gap: 10px;
}

.category__item {
  background: linear-gradient(93.45deg, rgba(7, 160, 129, 0.4) 7.83%, rgba(255, 255, 255, 0) 100%);
  flex-basis: 242px;
  height: 101px;
  display: flex;
  gap: 15px;
  align-items: center;
  border-radius: 50px 0 0 50px;
  padding-inline-start: 20px;
  font-family: Poppins;
  font-size: 24px;
  line-height: 36px;
}

.shop h2 {
  margin-top: 59px;
  font-family: Poppins;
  font-size: 32px;
  font-weight: 400;
  line-height: 34px;
  margin-bottom: 10px;
}

.shop>p {
  margin-bottom: 44px;
}

.shop__all {
  margin-top: 44px;
}

.shop__all .row {
  row-gap: 49px;
}

.shop__item {
  border: none;
}

.shop__item .card-img-top {
  border-radius: 11px;
}

.shop__item .card-body {
  padding: 17px;
  color: #404146;
}

.shop__item .card-title,
.shop__item .card-text {
  margin-bottom: 6px;
}

.shop__item .card-text,
.item__price {
  font-weight: 300;
}

.item__price .old {
  text-decoration: line-through;
  margin-left: 9px;
}

.page-item .page-link {
  border-radius: 50% !important;
  width: 32.47px;
  height: 32.47px;
  display: flex;
  align-items: center;
  border-color: #9b8f8f;
}

#page_container {
  list-style: none;
  gap: 10.05px;
}

.page-item.active .page-link {
  background-color: #D6EBDC;
  border-color: #D6EBDC;
}

.contact {
  margin-top: 85px;
}

.contact__left>img:first-of-type {
  position: absolute;
  top: 2%;
  left: 38%;
  width: 45%;
  z-index: 2;
}

.contact__right h2 {
  font-weight: 400;
  font-size: 32px;
  margin-block: 111px 28px;
}

.contact__right form {
  margin-bottom: 32px;
}

.contact-us {
  font-size: 32px;
  color: #252525;
  margin-bottom: 104px;
}

.right-content .social {
  align-self: end;
}

.dog {
  width: 45%;
  height: 305px;
  position: absolute;
  left: 0;
  bottom: 0;
}

.dog img:first-child {
  bottom: -6px;
  left: 10px;
}

.dog img:last-child {
  bottom: 0;
}

.pucci,
.mart {
  font-family: "Red Hat Text";
  font-size: 80px;
  font-weight: 700;
  line-height: 105.84px;

  letter-spacing: 3px;
  -webkit-text-fill-color: transparent;
}

.pucci {
  -webkit-text-stroke: 1px #404146;
}

.contact__left .pucci {
  bottom: 3px;
  left: 47%;
}

.mart {
  -webkit-text-stroke: 1px #07A081;
}

.contact__left .mart {
  bottom: -25px;
  left: 90%;
}

.contact__left .pucci,
.contact__left .mart {
  font-size: 65px;
}

.promotion__header {
  min-height: 202px;
  margin-top: 130px;
  background-color: #07A081;
  text-align: center;
  padding-block: 53px 45px;
}

.promotion__header p {
  font-size: 32px;
  line-height: 34px;
  color: white;
}

.promotion__header button {
  background-color: #fff;
  width: 164.3px;
  height: 39px;
  border-radius: 13px;
  margin-top: 31px;

  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
}

.promotion__header img:nth-of-type(1) {
  left: 26px;
  bottom: -10px;
}

.promotion__header img:nth-of-type(2) {
  top: -32px;
  right: 13%;
}

.promotion__header img:nth-of-type(3) {
  bottom: 68px;
  right: 7%;
}

.promotion__header img:nth-of-type(4) {
  bottom: 31px;
  right: 14%;
}

.promotion__content {
  padding: 62px 88px 38px 68px;
}

.promotion__content>div {
  min-height: 470px;
}

.dog-promo {
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}

.promotion__content .pucci {
  top: 39%;
  left: 7%;
  font-size: 150px;
}

.promotion__content .mart {
  top: 54%;
  left: 97px;
  font-size: 150px;
}

.promotion__content .btn-main {
  bottom: 0;
  left: 68%;
  transform: translateX(-50%);
  height: 39px;
  width: 164.3px;
}

.promotion__content .hot-offer {
  width: 144px;
  height: 144px;
  border-radius: 50%;
  background-color: #FF3C3C;
  text-align: center;
  line-height: 34px;
  font-size: 32px;
  color: white;
  padding-block: 38px;
  top: 18%;
  left: 27%;
}

.promotion__content .price {
  width: 198px;
  display: flex;
  justify-content: space-between;
}

.promotion__content .price .old {
  font-family: 'Times New Roman', serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  text-decoration: line-through;
  color: #545454;
  margin-top: 28px;
}

.promotion__content .price .new {
  font-family: 'Times New Roman', serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  color: #FF3C3C;
  margin-top: 10px;
}

.price-star .star span {
  font-size: 20px;
  line-height: 34px;
}

.price-star {
  left: 9%;
  bottom: 45px;
}

.discount-mess {
  font-size: 32px;
  font-weight: 400;
  line-height: 34px;
  margin-bottom: 38px;
}

.promotion__footer {
  width: fit-content;
  gap: 59px;
  margin-block: 41px 44px;
}

.promotion__footer-item {
  font-family: 'Nunito';
  font-size: 20px;
  font-weight: 400;
  line-height: 34px;
  color: #545454;
  display: flex;
  align-items: center;
  margin-inline: auto;
}

.promotion__footer-item img {
  margin-right: 14px;
}

footer {
  background-color: #F6F6F6;
  padding-top: 51px;
  font-family: 'Nunito', serif;
  color: #545454;
}

.footer__item li {
  list-style: none;
  font-size: 20px;
  font-weight: 400;
  line-height: 34px;
}

.footer__item h5 {
  font-size: 20px;
  font-weight: 700;
  line-height: 34px;
}

footer .line {
  width: 100%;
  margin-top: 35px;
}

.rights-reserved p {
  color: #828282;
  font-weight: 600;
  line-height: 19.92px;
}

@media screen and (max-width:991.98px) {
  #navbarNav {
    order: 5;
  }

  .header__icon {
    margin-inline-end: 20px;
  }

  header form {
    flex-basis: 80%;
  }

  .contact__left>img:first-of-type {
    top: 1%;
    width: 26%;
  }

  .contact__left {
    height: 431px;
  }

  .dog {
    width: 26%;
  }

  .contact__left .pucci {
    bottom: 45px;
    left: 35%;
  }

  .contact__left .mart {
    bottom: -25px;
    left: 50%;
  }

  .promotion__header img:nth-of-type(1) {
    opacity: 0.6;
  }

  .promotion__header img:nth-of-type(2) {
    opacity: 0.3;
  }

  .promotion__content {
    padding-top: 0;
  }

  .promotion__content>div:first-child {
    min-height: 374px;
  }

  .promotion__content .pucci {
    top: 26%;
  }

  .dog-promo {
    width: 53%;
    transform: translateX(-32%);
  }

  .promotion__content .hot-offer {
    top: 3%;
    left: 84%;
  }

  .promotion__content .mart {
    top: 35%;
    left: -5%;
    font-size: 122px;
  }

  .promotion__content .btn-main {
    bottom: 24%;
    left: 3%;
    transform: translateX(0%);
  }
}

@media screen and (max-width:767.98px) {
  .hero {
    background-size: 27%;
  }

  .category__item {
    flex-basis: 172px;
    height: 72px;
    gap: 12px;
    font-size: 18px;
    line-height: 20px;
  }

  .contact__left {
    height: 300px;
  }

  .contact__left>img:first-of-type {
    top: -16%;
  }

  .promotion__content .pucci {
    font-size: 111px;
  }

  .promotion__content .mart {
    left: -8%;
    font-size: 100px;
  }
}

@media screen and (max-width:600px) {
  .header__icon {
    order: 3;
    margin: 0;
    gap: 20px;
  }

  .navbar-brand {
    order: 1;
    flex-basis: 68%;
  }

  .navbar-toggler {
    order: 2;
  }

  header form {
    flex-basis: 90%;
  }
}

@media screen and (max-width:575.98px) {
  .contact__left>img:first-of-type {
    top: 2%;
    width: 30%;
  }

  .dog {
    width: 30%;
  }

  .contact__left>img:first-of-type {
    top: -6%;
  }

  .contact__left .pucci,
  .contact__left .mart {
    font-size: 55px;
  }

  .promotion__header img:nth-of-type(1),
  .promotion__header img:nth-of-type(3),
  .promotion__header img:nth-of-type(4) {
    display: none;
  }

  .promotion__content .pucci {
    font-size: 90px;
    left: -9%;
  }

  .promotion__content .mart {
    font-size: 72px;
  }

  .promotion__content .hot-offer {
    top: -15%;
    left: 85%;
    line-height: 23px;
    font-size: 25px;
    width: 120px;
    height: 120px;
  }

  .promotion__content>div:nth-child(2) {
    min-height: 300px;
  }

  .promotion__content .btn-main {
    bottom: 16%;
    left: -5%;
  }
}

@media screen and (max-width:480px) {
  .promotion__content .hot-offer {
    top: 1%;
    left: 90%;
    line-height: 23px;
    font-size: 20px;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .promotion__content .mart {
    font-size: 56px;
    left: -12%;
  }

  .promotion__content .btn-main {
    width: 128px;
  }
}

@media screen and (max-width:400px) {
  .contact__left {
    height: 250px;
  }

  .contact__left .pucci,
  .contact__left .mart {
    font-size: 46px;
  }

  .contact__left .mart {
    left: 46%;
  }

  .promotion__content .pucci {
    left: -20%;
  }

  .price-star {
    left: -14%;
  }

  .promotion__content .pucci {
    font-size: 80px;
  }

  .promotion__content .mart {
    font-size: 42px;
  }

  .promotion__content .hot-offer {
    top: 16%;
    width: 90px;
    height: 90px;
  }

  .promotion__content .btn-main {
    left: -30%;
  }
}

@media screen and (min-width:992px) {
  .hero .container {
    padding-inline: 0;
  }

  .hero .row {
    margin-inline: 0;
    padding-top: 23px;
  }
}

@media screen and (min-width:1240px) {

  .contact__left .pucci,
  .contact__left .mart {
    font-size: 80px;
  }
}